body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    height: 30px;
}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second>.header {
    display: flex;
    
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fourth {
   display: flex;
   justify-content: center;
   align-items: center;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
}





img {
    width: 600px;
    height: 150px; 
    vertical-align: center;
    object-fit: cover;
}